#environment variables
*/.env


#hardhat

hardhat/node_modules
hardhat/typechain-types
hardhat/artifacts
hardhat/cache
hardhat/package-lock.json
hardhat/tsconfig.json
hardhat/hardhat.config.ts
hardhat/README.md


#client
client/node_modules
client/package-lock.json

#info
/hardhat/info.txt

# misc
.DS_Store